body {
    font-family: serif;
    background-color: #eee;
    color: #333;
    margin: 0;
}

a {
    color: #048;
}

a:visited {
    color: #26a;
}

header, footer {
    font-family: sans-serif;
    text-align: center;
    font-size: 80%;
}

header, footer {
    background-color: #048;
    color: #fefefe;
}

footer p {
    text-align: center;
    padding: 0.25em;
}

header a, footer a {
    color: #fefefe;
}

header a:visited, footer a:visited {
    color: #fefefe;
}

nav {
    display: inline-block;
}

nav ul {
    margin: 0.5em;
}

aside {
    padding: 0.5em;
}

aside li, nav li {
    list-style-type: none;
    display: inline-block;
}

main {
    margin: 1em auto;
    max-width: 800px;
}

h1, h2, h3, h4, h5 {
    font-family: sans-serif;
}

div, p, li {
    text-align: justify;
    hyphens: auto;
}

pre {
    padding: 1em;
    border-radius: 0.5em;
}
